In [1]:
 import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\USER\\Documents\\SHAMMAS\\python DS\\bank.csv",sep=";")

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [6]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [7]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [8]:
df["job"]

0          unemployed
1            services
2          management
3          management
4         blue-collar
            ...
4516         services
4517    self-employed
4518       technician
4519      blue-collar
4520     entrepreneur
Name: job, Length: 4521, dtype: object

In [5]:
df[[marital","education"]]

      marital  education
0     married    primary
1     married  secondary
2      single   tertiary
3     married   tertiary
4     married  secondary
...       ...        ...
4516  married  secondary
4517  married   tertiary
4518  married  secondary
4519  married  secondary
4520   single   tertiary

[4521 rows x 2 columns]

In [13]:
df[df["age"]>30]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [14]:
df.sort_values(by='age')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
503,19,student,single,primary,no,103,no,no,cellular,10,jul,104,2,-1,0,unknown,yes
1900,19,student,single,unknown,no,0,no,no,cellular,11,feb,123,3,-1,0,unknown,no
2780,19,student,single,secondary,no,302,no,no,cellular,16,jul,205,1,-1,0,unknown,yes
3233,19,student,single,unknown,no,1169,no,no,cellular,6,feb,463,18,-1,0,unknown,no
999,20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,83,retired,married,primary,no,425,no,no,telephone,22,jun,883,1,140,1,failure,yes
4388,83,retired,divorced,primary,no,1097,no,no,telephone,5,mar,181,1,-1,0,unknown,yes
4108,84,retired,divorced,primary,no,639,no,no,telephone,18,may,353,3,-1,0,unknown,yes
1866,86,retired,married,secondary,no,1503,no,no,telephone,18,mar,165,3,101,1,other,no
3311,87,retired,married,primary,no,230,no,no,cellular,30,oct,144,1,-1,0,unknown,yes

In [18]:
df.sort_values(by='age',ascending=False)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
3311,87,retired,married,primary,no,230,no,no,cellular,30,oct,144,1,-1,0,unknown,yes
1866,86,retired,married,secondary,no,1503,no,no,telephone,18,mar,165,3,101,1,other,no
4108,84,retired,divorced,primary,no,639,no,no,telephone,18,may,353,3,-1,0,unknown,yes
4388,83,retired,divorced,primary,no,1097,no,no,telephone,5,mar,181,1,-1,0,unknown,yes
633,83,retired,married,secondary,no,0,no,no,cellular,18,mar,140,10,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no
3233,19,student,single,unknown,no,1169,no,no,cellular,6,feb,463,18,-1,0,unknown,no
503,19,student,single,primary,no,103,no,no,cellular,10,jul,104,2,-1,0,unknown,yes
2780,19,student,single,secondary,no,302,no,no,cellular,16,jul,205,1,-1,0,unknown,yes
1900,19,student,single,unknown,no,0,no,no,cellular,11,feb,123,3,-1,0,unknown,no

In [20]:
df.groupby("marital").mean()

,age,balance,day,duration,campaign,pdays,previous
marital,,,,,,,
divorced,45.475379,1122.390152,15.753788,279.232955,2.604167,38.827652,0.439394
married,43.454415,1463.195567,15.905971,256.528781,2.847336,38.466929,0.519128
single,33.927258,1460.414716,16.008361,274.601171,2.751672,43.220736,0.642977

In [22]:
#pivot table
df.pivot_table(index='marital',columns='education',values='age')

education    primary  secondary   tertiary    unknown
marital
divorced   51.392405  43.496296  45.148387  50.375000
married    47.511407  42.404345  41.777166  48.444444
single     37.013699  33.052545  34.512821  34.652174

In [24]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [25]:
netflix=pd.read_csv("C:\\Users\\USER\\DA\\Data Sets\\netflix_titles_2021.csv")

In [26]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [27]:
netflix.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [28]:
netflix.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis NiewÃ¶hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [31]:
netflix.fillna(value=0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,0,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,0,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",0,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,0,0,0,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,0,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,0,0,0,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [32]:
type(netflix['show_id'])

pandas.core.series.Series

In [33]:
df.loc[0:3]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no

In [34]:
df.iloc[0:3]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no

In [37]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [39]:
for index,rows in df.iterrows():
    print(row['job'],row['education'])

entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary
entrepreneur tertiary

In [45]:
netflix.assign(after_2020=netflix['release_year']>2020)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,after_2020
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",False
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",True
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,True
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",True
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",False
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",False
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,False
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",False
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,False

In [63]:
netflix.query('type=="Movie" & release_year== 2020')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave GarcÃ­a, Pablo AzorÃ­n Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
78,s79,Movie,Tughlaq Durbar,Delhiprasad Deenadayalan,"Vijay Sethupathi, Parthiban, Raashi Khanna",NaN,"September 11, 2021",2020,TV-14,145 min,"Comedies, Dramas, International Movies",A budding politician has devious plans to rise...
84,s85,Movie,Omo Ghetto: the Saga,"JJC Skillz, Funke Akindele","Funke Akindele, Ayo Makun, Chioma Chukwuka Akp...",Nigeria,"September 10, 2021",2020,TV-MA,147 min,"Action & Adventure, Comedies, Dramas",Twins are reunited as a good-hearted female ga...
103,s104,Movie,Shadow Parties,Yemi Amodu,"Jide Kosoko, Omotola Jalade-Ekeinde, Yemi Blaq...",NaN,"September 6, 2021",2020,TV-MA,117 min,"Dramas, International Movies, Thrillers",A family faces destruction in a long-running c...
...,...,...,...,...,...,...,...,...,...,...,...,...
3046,s3047,Movie,All the Freckles in the World,YibrÃ¡n Asuad,"HÃ¡nssel Casillas, Loreto Peralta, Andrea Sutto...",Mexico,"January 3, 2020",2020,TV-14,90 min,"Comedies, International Movies, Romantic Movies",Thirteen-year-old JosÃ© Miguel is immune to 199...
3060,s3061,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...",India,"January 1, 2020",2020,TV-MA,145 min,"Horror Movies, International Movies, Thrillers","The directors of Emmy-nominated ""Lust Stories""..."
5972,s5973,Movie,#cats_the_mewvie,Michael Margolis,NaN,Canada,"February 5, 2020",2020,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
7594,s7595,Movie,Norm of the North: Family Vacation,Anthony Bell,"Andrew Toth, Lisa Durupt, Jonathan Holmes, Pau...",United States,"May 25, 2020",2020,TV-Y7,89 min,Children & Family Movies,"Stressed by his duties as king and father, Nor..."
8099,s8100,Movie,Straight Up,James Sweeney,"James Sweeney, Katie Findlay, Randall Park, Hi...",United States,"June 26, 2020",2020,TV-MA,96 min,"Comedies, Independent Movies, LGBTQ Movies",When a gay brainiac with OCD questions his ide...

In [58]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [68]:
netflix.dropna(subset=["director","cast"])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [69]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [70]:
twopowers_sr=df["age"]

In [72]:
for i in range(len(df["age"])):
    if i%2==0:

pandas.core.series.Series

In [73]:
len(df["age"])

4521

In [28]:
pivot=pd.pivot_table(df,values="balance",index='job',aggfunc="median")
pivot

               balance
job
admin.           430.0
blue-collar      408.5
entrepreneur     365.5
housemaid        296.5
management       577.0
retired          672.5
self-employed    483.0
services         288.0
student          422.5
technician       434.5
unemployed       473.5
unknown          655.5

In [25]:
df["blue-collar"].mean()

KeyError: 'blue-collar'

In [29]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [31]:
df["job"].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [32]:
df["job"].value_counts()

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64